{% extends "layout.html" %}
{%  block head %}
    {{ super() }}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Abhishek Pednekar</title>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="text-secondary">
        Search <a href="https://CodeDisciples.in">Code Disciples</a>
    </div>
    <div>
        <form method="post" action="">
            {{ form.hidden_tag() }}

            <div>
                {{ form.search_post.label(class="text-label") }}

                {% if form.search_post.errors %}
                    {{ form.search_post(class="text-input text-label") }}
                    <div class="error-message">
                        {% for error in form.search_post.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.search_post(class="text-input") }}
                {% endif %}

                {{ form.submit(class="contact-btn") }}
            </div>
{#            <div>#}
{#                {{ form.submit(class="contact-btn") }}#}
{#            </div>#}
        </form>
    </div>
{%  endblock %}