// Wide screens
@include mediaXl {
    .blog-container {

        margin-left: 5rem;
        margin-right: 5rem;
    }
}

// Desktops and laptops
@include mediaLg {

}

// Tablets
@include mediaMd {
    main {
        
        &#home {
            align-items: center;
            text-align: center;
        }

        &#contact {
            padding: 1rem;
        }

        &#portfolio {
            padding: 1rem;
        }

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    div.menu-branding,
    ul.menu-nav {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .potrait {
            background: url('../images/profile-small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    #wrapper {
        flex-direction: column;
    }

    #left {
        flex: 1;
        margin: 0;
        padding: 0.5rem;
    }

    #right {
        display: none;
    }

    .blog-container {

        margin-left: 1rem;
        margin-right: 2rem;
    }

    .about-info {
        grid-template-areas: 
        "bio-image"
        "bio"
        "job1"
        "job3";
        grid-template-columns: minmax(auto, 40em);
        grid-auto-columns: 1fr;
        // align-items: center;

        // display: flex;
        // flex-direction: column;
    }

    .bar-lang {
        font-size: 3px;
        padding: 1px;
    }

    .bar-pct {  
        font-size: 80%;
        padding-top: 5px;
        padding-right: 5px;
    }

    .job {
        margin-top: 10px;
    }

    .text-input {
        margin-bottom: 1rem;
    }

    .bio {
        font-size: 1rem;
        margin-top: 2rem;
    }

    .pagination {
        margin-bottom: 1rem;
    }
}


// Smartphones
@include mediaSm {

    // #wrapper {
    //     flex-direction: column;
    // }

    // #left {
    //     flex: 1; 
    // }

    // #right {
    //     display: none;
    // }
}

