// Wide screens
@include mediaXl {
    .blog-container {

        margin-left: 5rem;
        margin-right: 5rem;
    }
}

// Desktops and laptops
@include mediaLg {

}

// Tablets
@include mediaMd {
    main#home {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    div.menu-branding,
    ul.menu-nav {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .potrait {
            background: url('../images/profile-small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    #wrapper {
        flex-direction: column;
    }

    #left {
        flex: 1;
    }

    #right {
        flex: 1;
    }

    .blog-container {

        margin-left: 1rem;
        margin-right: 2rem;
    }

}


// Smartphones
@include mediaSm {
    main#home {
        margin-top: 10vh;
    }

    #wrapper {
        flex-direction: column;
    }

    #left {
        flex: 1;
    }

    #right {
        flex: 1;
    }


}

