.menu-btn {
  position: fixed;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #444;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .potrait {
  height: 250px;
  width: 250px;
  background: url("../images/profile.jpg");
  background-position: center;
  border-radius: 50%;
  border: 2px solid #ffb961;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #ffb961;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu .nav-link:hover {
  color: #ffb961;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url(../images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(68, 68, 68, 0.9);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 3.5rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  background: rgba(73, 73, 73, 0.5);
}

h4 {
  margin: 0;
  padding-top: 0;
  padding-bottom: 1rem;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 80%;
  background-color: #ffb961;
  height: 1px;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #ffb961;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #ffb961;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 10vh;
}

main#blog {
  overflow: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

main#blog h1 {
  margin-top: 10vh;
}

main#portfolio {
  margin-top: 10vh;
}

main#contact {
  margin-top: 10vh;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #ffb961;
  padding: 1rem;
  overflow: hidden;
}

#left #contact-form {
  padding: 1.5rem;
}

#left .text-label {
  display: block;
  text-align: left;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

#left .text-input {
  width: 100%;
  margin-bottom: 1rem;
  height: 50px;
  padding: 0.5rem 1rem;
  border: 0.5px solid #444;
  border-radius: 3px;
  background: rgba(99, 99, 99, 0.9);
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
}

#left .text-area-input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  height: 200px;
  border: 0.5px solid #444;
  border-radius: 3px;
  background: rgba(99, 99, 99, 0.9);
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

#left .contact-btn {
  width: 100%;
  display: block;
  height: 2.5rem;
  background: rgba(58, 58, 58, 0.9);
  border: 0.5px solid #444;
  padding: 0.7rem 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

#left .contact-btn:hover {
  background: #ffb961;
  color: #444;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

#left .alert-success {
  background: #444;
  color: #fff;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid #ffb961;
}

#left .text-error {
  border: 1.5px solid #ffb961;
}

#left .error-message {
  color: #ffb961;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}

#right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #ffb961;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ffb961;
}

#right #books .books-top,
#right #books .books-center,
#right #books .books-bottom {
  text-align: center;
  margin-bottom: 2rem;
}

#right #books .books-top a,
#right #books .books-center a,
#right #books .books-bottom a {
  padding: 1rem;
}

#right #books .book-widget {
  max-width: 80px;
}

#right #books h4 {
  font-weight: bold;
}

#right #pod-yt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-top: 2rem;
}

#right #pod-yt #podcasts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #ffb961;
}

#right #pod-yt #podcasts h4 {
  font-weight: bold;
}

#right #pod-yt .pod-list {
  padding-top: 0;
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
}

#right #pod-yt .pod-list a {
  color: #ffc985;
}

#right #pod-yt .pod-list a:hover {
  color: gold;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

#right #pod-yt #channels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#right #pod-yt #channels h4 {
  font-weight: bold;
}

#right #pod-yt #channels .channel-list {
  padding-top: 0;
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
}

#right #pod-yt #channels .channel-list a {
  color: #ffc985;
}

#right #pod-yt #channels .channel-list a:hover {
  color: gold;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.blog-container span {
  color: #ffb961;
  cursor: pointer;
}

.blog-container span:hover {
  color: gold;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.blog-container .blog-description {
  background: rgba(73, 73, 73, 0.5);
}

.blog-container .blog-description p {
  padding: 5px;
}

.blog-container .pagination {
  display: inline-block;
  margin-top: 2rem;
  margin-left: 2.5rem;
}

.blog-container .pagination a {
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border: solid 1px #ffb961;
}

.blog-container .pagination a:hover {
  color: #444;
  background: #ffb961;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.about-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: "bio-img-cv bio bio" "job1 job1 job3";
  -ms-grid-columns: (1fr)[3], min-content;
      grid-template-columns: repeat(3, 1fr), -webkit-min-content;
      grid-template-columns: repeat(3, 1fr), min-content;
}

.about-info .bio-img-cv {
  margin: auto;
}

.about-info .bio-img-cv .bio-image {
  grid-area: bio-image;
  border-radius: 70%;
  border: #ffb961 3px solid;
}

.about-info .bio-img-cv .bio-cv-div {
  margin-top: 1rem;
}

.about-info .bio-img-cv .btn-cv {
  display: block;
  margin: auto;
  text-align: center;
  background: #323232;
  padding: 0.5rem;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.about-info .bio-img-cv .btn-cv:hover {
  background: #ffb961;
  color: #323232;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1.5rem;
}

.about-info .job-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: job1;
}

.about-info .job-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: job3;
}

.about-info .job {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #ffb961 solid 5px;
}

.bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 15px;
}

.bar-container .bar-container div {
  border: 2px solid #444;
}

.bar-container .bar-lang {
  width: 25%;
  font-size: 1rem;
  background: #373737;
  text-align: center;
  height: 28px;
}

.bar-container .bar-fill {
  background: #ffbe6b;
  height: 28px;
}

.bar-container .bar-pct {
  background: #fff;
  height: 28px;
  color: #373737;
  text-align: right;
  padding-right: 10px;
}

.personal-site ul {
  padding-left: 25px;
}

.personal-site .personal-site-list {
  list-style: none;
}

.personal-site .personal-site-list a {
  color: #ffb961;
}

.personal-site .personal-site-list a:hover {
  color: gold;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.main-footer {
  text-align: center;
  padding: 1rem;
  height: 60px;
  background: #2b2b2b;
}

.main-footer .img-footer {
  height: 16px;
  width: 16px;
}

@media screen and (min-width: 1171px) {
  .blog-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 768px) {
  main#home {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main#contact {
    padding: 1rem;
  }
  main#portfolio {
    padding: 1rem;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  div.menu-branding,
  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0;
  }
  div.menu-branding.show,
  ul.menu-nav.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-branding .potrait {
    background: url("../images/profile-small.jpg");
    width: 150px;
    height: 150px;
  }
  #wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    padding: 0.5rem;
  }
  #right {
    display: none;
  }
  .blog-container {
    margin-left: 1rem;
    margin-right: 2rem;
  }
  .about-info {
        grid-template-areas: "bio-image" "bio" "job1" "job3";
    -ms-grid-columns: minmax(auto, 40em);
        grid-template-columns: minmax(auto, 40em);
    grid-auto-columns: 1fr;
  }
  .bar-lang {
    font-size: 3px;
    padding: 1px;
  }
  .bar-pct {
    font-size: 80%;
    padding-top: 5px;
    padding-right: 5px;
  }
  .job {
    margin-top: 10px;
  }
  .text-input {
    margin-bottom: 1rem;
  }
  .bio {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .pagination {
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */