@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    @include background();
    background: $primary_color;
    color: set-text-color($primary_color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 3.5rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        // Wrapping in an rgba function for opacity 
        background: rgba(lighten($color: $primary_color, 
            $amount: 2), 0.5)
    }
}

h4 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 1rem;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 80%;               
    background-color: $secondary_color;
    height: 1px;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary_color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);

    .icons {
       margin-top: 1rem;

       a {
           padding: 0.4rem;

           &:hover {
               color: $secondary_color;
               @include easeOut;
           }
       }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 10vh;
        }
    }

    &#blog {
        overflow: auto;
        padding-left: 2rem;
        padding-right: 2rem;

        h1 {
            margin-top: 10vh;
        }
    }

    &#portfolio {
        margin-top: 10vh;
    }

    &#contact {
        margin-top: 10vh;
    }
}

#wrapper {
    display: flex;
} 

#left {
    flex: 2; 
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border: 1px solid $secondary_color;
    padding: 1rem;
    overflow: hidden;

    #contact-form {
        padding: 1.5rem;
    }

    .text-label {
        display: block;
        text-align: left;
        line-height: 1.5rem;
        font-weight: 300;
        font-size: 1.2rem;
        padding-bottom: 0.5rem;

    }

    .text-input {
        width: 100%;
        margin-bottom: 1rem;
        height: 50px;
        padding: 0.5rem 1rem;
        border: 0.5px solid $primary_color;
        border-radius: 3px;
        background: rgba(lighten($color: $primary_color, 
        $amount: 12), $background-opacity);
        text-transform: uppercase;
        color: #fff;
        font-size: 1rem;
    }

    .text-area-input {
        width: 100%;
        margin-bottom: 2rem;
        padding: 0.5rem 1rem;
        height: 200px;
        border: 0.5px solid $primary_color;
        border-radius: 3px;
        background: rgba(lighten($color: $primary_color, 
        $amount: 12), $background-opacity);
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
    }

    .contact-btn {
        width: 100%;
        display: block;
        height: 2.5rem;
        background: rgba(darken($color: $primary_color, 
        $amount: 4), $background-opacity);
        border: 0.5px solid $primary_color;
        //border-radius: 3px;
        padding: 0.7rem 1rem;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background: $secondary_color;
            color: $primary_color;
            @include easeOut;
        }
    }

    .alert-success {
        background: $primary_color;
        color:#fff;
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        text-align: center;
        width: 100%;
        margin-bottom: 0.5rem;
        border: 1px solid $secondary_color;
    }

    .text-error {
        border: 1.5px solid $secondary_color;
    }
    
    .error-message {           
        color: $secondary_color;
        text-align: left;
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 0;
    }    
}

#right {
    flex: 1;
    border: 1px solid $secondary_color;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid $secondary_color;

    #books {

        .books-top,
        .books-center,
        .books-bottom {
            text-align: center;
            margin-bottom: 2rem;
            
            a {
                padding: 1rem;
            }
        }
        
        .book-widget {
            max-width: 80px;
        } 

        h4 {
            font-weight: bold;
        }
    }

    #pod-yt {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-top: 2rem;

        #podcasts {
            display: flex;
            flex-direction: column;
            flex: 1;
            border-right: 1px solid $secondary_color;

            h4 {
                font-weight: bold;
            }
        }

        .pod-list {
            padding-top: 0;
            text-align: center;
            line-height: 2rem;
            font-weight: bold;

            a {
                color: lighten($secondary-color, 7);

                &:hover {
                    color: gold;
                    @include easeOut;
                }
            }
        }

        #channels {
            display: flex;
            flex-direction: column;
            flex: 1;
            
            h4 {
                font-weight: bold;
            }

            .channel-list {
                padding-top: 0;
                text-align: center;
                line-height: 2rem;
                font-weight: bold;

                a {
                    color: lighten($secondary-color, 7);
    
                    &:hover {
                        color: gold;
                        @include easeOut;
                    }
                }
            }
        }
    }
}

.blog-container {

    span {
        color: $secondary_color;
        cursor: pointer;

        &:hover {
            color: gold;
            @include easeOut;
        }
    }

    .blog-description {
        background: rgba(lighten($color: $primary_color, 
                        $amount: 2), 0.5);

        p {
            padding: 5px;
        }
    }

    .pagination {
        display: inline-block;
        margin-top: 2rem;
        margin-left: 2.5rem;
        
        a {
            color: #fff;
            padding: 8px 16px;
            text-decoration: none;
            border: solid 1px $secondary_color;
        }

        a:hover {
            color: $primary_color;
            background: $secondary_color;
            @include easeOut;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    "bio-img-cv bio bio"
    "job1 job1 job3";
    grid-template-columns: repeat(3, 1fr), min-content;
    //grid-template-columns: 2fr, 1fr, 1fr;

    .bio-img-cv {
        margin: auto;

        .bio-image {
            grid-area: bio-image;
            border-radius: 70%;
            border: $secondary_color 3px solid;
            //margin: auto;
        }

        .bio-cv-div {
            margin-top: 1rem;
        }

        .btn-cv {
            display: block;
            margin: auto;
            text-align: center;
            background: darken($primary_color, 7);
            padding: 0.5rem;
            @include easeOut;
                
        
            &:hover {
                background: $secondary-color;
                color: darken($primary_color, 7);
                @include easeOut;
            }
        }
    }
    
       
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1 {
        grid-area: job1;
    }
    
    // .job-2 {
    //     grid-area: job2;
    //     position: relative;
    // }
    
    .job-3 {
        grid-area: job3;
    }
    
    .job {
        background: lighten($primary_color, 5);
        padding: 0.5rem;
        border-bottom: $secondary_color solid 5px;
    }
}

.bar-container {

    display: flex;
    margin: 25px 15px;

    .bar-container div {
        border: 2px solid $primary_color;
    }

    .bar-lang {
        width: 25%;
        font-size: 1rem;
        background: darken($primary-color, 5);
        text-align: center;
        height: 28px;
    }

    .bar-fill {
        background: lighten($secondary-color, 2);
        height: 28px;
    }

    .bar-pct {
        background: #fff;
        height: 28px;
        color: darken($primary_color, 5);
        text-align: right;
        padding-right: 10px;
    }
}

.personal-site {
    ul {
        padding-left: 25px;
    }

    .personal-site-list {
        list-style: none;
    
        a {
            color: $secondary-color;
    
            &:hover {
                color: gold;
                @include easeOut;
            }
        }
    }    
}


.main-footer {
    text-align: center;
    padding: 1rem;
    height: 60px;
    background: darken($color: $primary_color, $amount: 10);

    .img-footer {
        height: 16px;
        width: 16px;
    }
}

@import 'mobile';