@import 'config';
@import 'menu';
@import 'mobile';

* {
    box-sizing: border-box;
}

body {
    @include background();
    background: $primary_color;
    color: set-text-color($primary_color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 3.5rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        // Wrapping in an rgba function for opacity 
        background: rgba(lighten($color: $primary_color, 
            $amount: 2), 0.5)
    }
}

h4 {
    margin: 0;
    padding-top: 0;
    padding-bottom: 1rem;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 80%;               
    background-color: $secondary_color;
    height: 1px;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary_color;
}

main {
    padding: 4rem;
    height: 100%;

    .icons {
       margin-top: 1rem;

       a {
           padding: 0.4rem;

           &:hover {
               color: $secondary_color;
               @include easeOut;
           }
       }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 10vh;
        }
    }

    &#blog {
        padding: 1rem;
        overflow: auto;

        h1 {
            margin-top: 10vh;
        }
    }
}

#wrapper {
    display: flex;
    margin-top: 15vh;
} 

#left {
    flex: 2; 
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border: 1px solid $secondary_color;
    padding: 1rem;
    overflow: hidden;

    #contact-form {
        padding: 1.5rem;
    }

    .text-label {
        display: block;
        text-align: left;
        line-height: 1.5rem;
        font-weight: 300;
        font-size: 1.2rem;
        padding-bottom: 0.5rem;

    }

    .text-input {
        width: 100%;
        margin-bottom: 3rem;
        height: 50px;
        padding: 0.5rem 1rem;
        border: 0.5px solid $primary_color;
        border-radius: 3px;
        background: rgba(lighten($color: $primary_color, 
        $amount: 12), $background-opacity);
        text-transform: uppercase;
        color: #fff;
        font-size: 1rem;
    }

    .text-area-input {
        width: 100%;
        margin-bottom: 2rem;
        padding: 0.5rem 1rem;
        height: 170px;
        border: 0.5px solid $primary_color;
        border-radius: 3px;
        background: rgba(lighten($color: $primary_color, 
        $amount: 12), $background-opacity);
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
    }

    .contact-btn {
        width: 100%;
        display: block;
        height: 2.5rem;
        background: rgba(darken($color: $primary_color, 
        $amount: 4), $background-opacity);
        border: 0.5px solid $primary_color;
        border-radius: 3px;
        padding: 0.7rem 1rem;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background: $secondary_color;
            color: $primary_color;
            @include easeOut;
        }
    }

    .alert-success {
        background: $primary_color;
        color:#fff;
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        text-align: center;
        width: 100%;
        margin-bottom: 0.5rem;
        border: 1px solid $secondary_color;
    }

    .text-error {
        border: 1.5px solid $secondary_color;
    }
    
    .error-message {           
        color: $secondary_color;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0.5rem;
        padding: 0;
    }    
}

#right {
    flex: 1;
    border: 1px solid $secondary_color;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid $secondary_color;

    #books {

        .books-top,
        .books-center,
        .books-bottom {
            text-align: center;
            margin-bottom: 2rem;
            
            a {
                padding: 1rem;
            }
        }
        
        .book-widget {
            max-width: 80px;
        } 

        h4 {
            font-weight: bold;
        }
    }

    #pod-yt {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-top: 2rem;

        #podcasts {
            display: flex;
            flex-direction: column;
            flex: 1;
            border-right: 1px solid $secondary_color;

            h4 {
                font-weight: bold;
            }
        }

        .pod-list {
            padding-top: 0;
            text-align: center;
            line-height: 2rem;
            font-weight: 200;
        }

        #channels {
            display: flex;
            flex-direction: column;
            flex: 1;
            
            h4 {
                font-weight: bold;
            }

            .channel-list {
                padding-top: 0;
                text-align: center;
                line-height: 2rem;
                font-weight: 200;
            }
        }
    }
}

.blog-container {

    span {
        color: $secondary_color;
        cursor: pointer;
    }

    .blog-description {
        background: rgba(lighten($color: $primary_color, 
                        $amount: 2), 0.5);

        p {
            padding: 5px;
        }
    }

    .pagination {
        display: inline-block;
        margin-top: 2rem;
        margin-left: 2.5rem;
        
        a {
            color: #fff;
            padding: 8px 16px;
            text-decoration: none;
            border: solid 1px $secondary_color;
        }

        a:hover {
            color: $primary_color;
            background: $secondary_color;
        }
    }
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 300;
    font-weight: bold;
    background: rgba(lighten($color: $primary_color, $amount: 1), 0.5);

    .img-footer {
        height: 16px;
        width: 16px;
    }
}