.menu-btn {
  position: fixed;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  background: #444;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .potrait {
  height: 250px;
  width: 250px;
  background: url("../images/profile.jpg");
  background-position: center;
  border-radius: 50%;
  border: 2px solid #ffb961;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.current > a {
  color: #ffb961;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.menu .nav-link:hover {
  color: #ffb961;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

@media screen and (min-width: 1171px) {
  .blog-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 768px) {
  main#home {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main#home .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  div.menu-branding,
  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0;
  }
  div.menu-branding.show,
  ul.menu-nav.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-branding .potrait {
    background: url("../images/profile-small.jpg");
    width: 150px;
    height: 150px;
  }
  #wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .blog-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 500px) {
  main#home {
    margin-top: 10vh;
  }
  #wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url(../images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

body:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(68, 68, 68, 0.9);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 3.5rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  background: rgba(73, 73, 73, 0.5);
}

h4 {
  margin: 0;
  padding-top: 0;
  padding-bottom: 1rem;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 80%;
  background-color: #ffb961;
  height: 1px;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #ffb961;
}

main {
  padding: 4rem;
  height: 100%;
}

main .icons {
  margin-top: 1rem;
}

main .icons a {
  padding: 0.4rem;
}

main .icons a:hover {
  color: #ffb961;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 10vh;
}

main#blog {
  padding: 1rem;
  overflow: hidden;
}

main#blog h1 {
  margin-top: 10vh;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15vh;
}

#left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #ffb961;
  padding: 1rem;
  overflow: hidden;
}

#left #contact-form {
  padding: 1.5rem;
}

#left .text-label {
  display: block;
  text-align: left;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

#left .text-input {
  width: 100%;
  margin-bottom: 3rem;
  height: 50px;
  padding: 0.5rem 1rem;
  border: 0.5px solid #444;
  border-radius: 3px;
  background: rgba(99, 99, 99, 0.9);
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
}

#left .text-area-input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  height: 170px;
  border: 0.5px solid #444;
  border-radius: 3px;
  background: rgba(99, 99, 99, 0.9);
  color: #fff;
  font-size: 1.5rem;
}

#left .contact-btn {
  width: 100%;
  display: block;
  height: 2.5rem;
  background: rgba(58, 58, 58, 0.9);
  border: 0.5px solid #444;
  border-radius: 3px;
  padding: 0.7rem 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

#left .contact-btn:hover {
  background: #ffb961;
  color: #444;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

#left .alert-success {
  background: #444;
  color: #fff;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  height: 70%;
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid #ffb961;
}

#left .text-error {
  border: 1.5px solid #ffb961;
}

#left .error-message {
  color: #ffb961;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

#right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #ffb961;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ffb961;
}

#right #books .books-top,
#right #books .books-center,
#right #books .books-bottom {
  text-align: center;
  margin-bottom: 2rem;
}

#right #books .books-top a,
#right #books .books-center a,
#right #books .books-bottom a {
  padding: 1rem;
}

#right #books .book-widget {
  max-width: 80px;
}

#right #books h4 {
  font-weight: bold;
}

#right #pod-yt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-top: 2rem;
}

#right #pod-yt #podcasts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #ffb961;
}

#right #pod-yt #podcasts h4 {
  font-weight: bold;
}

#right #pod-yt .pod-list {
  padding-top: 0;
  text-align: center;
  line-height: 2rem;
  font-weight: 200;
}

#right #pod-yt #channels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#right #pod-yt #channels h4 {
  font-weight: bold;
}

#right #pod-yt #channels .channel-list {
  padding-top: 0;
  text-align: center;
  line-height: 2rem;
  font-weight: 200;
}

.blog-container span {
  color: #ffb961;
}

.blog-container .blog-description {
  background: rgba(73, 73, 73, 0.5);
}
/*# sourceMappingURL=main.css.map */